/* Register Page Background */

.register-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#1f1c2c,#928dab);
font-family:'Poppins',sans-serif;
}


/* Register Card */

.register-card{
width:360px;
padding:45px 35px;
border-radius:20px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);
box-shadow:0 20px 45px rgba(0,0,0,0.4);
text-align:center;
}


/* Logo */

.auth-logo{
width:120px;
height:auto;
margin-bottom:18px;
border-radius:50%;
box-shadow:0 10px 25px rgba(0,0,0,0.45);
transition:0.3s;
}

.auth-logo:hover{
transform:scale(1.05);
}


/* Title */

.register-card h1{
color:white;
margin-bottom:25px;
font-weight:600;
}


/* Inputs */

.register-card input{
width:100%;
padding:12px;
margin-bottom:15px;
border:none;
border-radius:8px;
outline:none;
font-size:14px;
}


/* Button */

.register-card button{
width:100%;
padding:12px;
border:none;
border-radius:30px;
background:white;
color:#1f1c2c;
font-weight:600;
cursor:pointer;
transition:0.3s;
}

.register-card button:hover{
background:#ffd369;
transform:translateY(-3px);
box-shadow:0 12px 25px rgba(0,0,0,0.35);
}


/* Responsive */

@media(max-width:500px){

.register-card{
width:90%;
padding:35px 25px;
}

.auth-logo{
width:90px;
}

}